:root {
  --bg: rgb(255, 255, 255);
  --bg-blur: rgba(250, 250, 246, 0.4);
}

body {
  background: var(--bg);
}

/* Common */

.Header,
.PageRoot,
.ArticleList {
  width: 910px; /* this was 900px; edited footer accordingly */
  max-width: 100%;
  margin: 0px auto;
  padding: 0px 96px;
}

@media only screen and (max-width: 900px) {
  .Header,
  .PageRoot,
  .ArticleList {
    max-width: 87.5%;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Header */

.Header a {
  color: inherit;
  text-decoration: none;
}

.Header__Cover {
  position: absolute;
  top: 0;
  right: 0;
  /* Firefox need this while Chrome doesn't. */
  left: 0;
  z-index: -1;
}

.Header__Cover > img {
  height: calc(30vh + 50px);
  width: 100%;
  object-fit: cover;
}

.Header__Spacer {
  margin-top: 30vh;
}

.Header__Spacer--NoCover {
  margin-top: calc(50px + 2.5rem);
}

.Header__Title {
  margin-top: 2.5rem;
  margin-bottom: 0.25em;
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.005em;
}

.Header > *:last-child {
  margin-bottom: 1rem;
}

.Header__DescBigQuoteMark {
  font-size: 1.5em;
  line-height: 0;
}

/* Article */

.Article {
  margin: 2rem 0;
}

.Article a {
  color: inherit;
  text-decoration: none;
}

.Article__Title {
  margin: 0;
  padding-bottom: 0.5rem;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.Article__Title > a {
  border-bottom: 2px solid hsl(45, 8%, 85%);
}

.Article__Title > a:not(:first-child) {
  margin-left: 5px;
}

.Article__Title > a:hover {
  border-bottom: 2px solid hsl(45, 8%, 55%);
}

.Article__Desc {
  padding-bottom: 0.5rem;
}

/* PageRoot (content body) */

.PageRoot {
  padding-bottom: 0;
  padding-top: 0;
}

/* Footer */

.Footer {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left; 
  max-width: 810px;
  margin: 0 auto;
  font-size: 14px;
  padding: 0rem 3rem;
  color: rgba(55, 53, 47, 0.6);
}

.Footer > div:nth-child(2) {
  margin: 0 3px;
}

.Footer a {
  color: rgba(55, 53, 47, 0.6);
}

@media only screen and (max-width: 680px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  .Navbar {
    box-shadow: rgba(15, 15, 15, 0.1) 0px 1px 0px, transparent 0px 0px 0px;
  }
  .Navbar__Btn {
    font-size: 14px;
  }
  .Header__Icon {
    font-size: 55px;
  }
  .Header__Cover > img {
    height: calc(30vh + 30px);
  }
}

@supports (not (backdrop-filter: blur(20px))) and
  (not (-webkit-backdrop-filter: blur(20px))) {
  .Navbar {
    background-color: var(--bg);
  }
}

.inline-img-icon {
  height: 1.2em;
  /* Setting width prevents content shifting after image loaded. */
  width: 1.2em;
  vertical-align: sub;
}
